@{
    ViewBag.Title = "RSI Call Logging System";
}

<h1>About TSI</h1>

<p>TSI Training Company is committed to bringing you the best quality training available. Through on-site, webcasts, books, and one-on-one mentoring, we can help you and your team become the best programmers you can be.</p>
